/* General Page Styling */

/* Style for the entire webpage */
body {
  font-family: 'Bubblegum Sans', cursive;
  background-color: #FDB7EA;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
}

/* Sidebar Styling */
.static-sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f589d8;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.static-sidebar a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 18px;
  display: block;
  transition: .3s;
}

.sidebar a:hover {
  background-color:rgba(255, 255, 255, 0.3);
}

#room {
  position: absolute;
}

#room-background {
  position: absolute;
  z-index: 1;
  transform: scale(1);
  image-rendering: crisp-edges;
}

#mat {
  position: absolute;
  top: 464px;
  left: 337px;
  z-index: 2;
  transform: scale(1);
  image-rendering: crisp-edges;
}

#flower-display {
  position: absolute;
  top: 345px;
  left: 572px;
  z-index: 2;
  transform: scale(1);
  image-rendering: crisp-edges;
}

#large-rug {
  position: absolute;
  top: 190px;
  left: 90px;
  z-index: 2;
  transform: scale(1);
  image-rendering: crisp-edges;
}

#counter {
  position: absolute;
  top: 120px;
  left: 310px;
  z-index: 2;
  transform: scale(1);
  image-rendering: crisp-edges;
}