/* General Page Styling */

/* Style for the entire webpage */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: flex;
}

/* Sidebar Styling */
.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #633363;
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar h2 {
  color: white;
  text-align: center;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 18px;
  transition: .3s;
}

.sidebar a:hover {
  background-color: #a557a5;
}

.content {
  margin-left: 250px;
  padding: 20px;
  flex: 1;
  text-align: center;
}